*{
    border: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    flex-direction: column;
}   
.box-red,
.box-yellow {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    
}

.box-red{
    background-color: rgb(252, 6, 6);
    transition-property: all;
    transition-duration: 1s;
}

.box-red:hover{
    background-color: rgb(0, 72, 255);
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 4s;
}

.line{
    width: 100vw;
    background-color: rgb(0, 0, 255);
    height: 25px;
    margin: 20px auto;
    
    transition: width;
    transition-duration: 1s;
}
.line:hover {
    width: 20px;
    background-color: rgb(255, 0, 0);
}

.box-yellow{
    background-color: yellow;
    transition: all 1s linear 2s;
}

.box-yellow:hover{
    transition: all 1s linear 0s;
    width: 200px;
    height: 200px;
    background-color: black;
}
footer{
    height: 50vh;
}
.ball{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: rgb(0, 255, 17);
    position: relative;
    animation-name: example-one;
    animation-duration: 5s;
    animation-delay:1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode:both;
}
@keyframes example-one{
    0%{
        background-color: rgb(226, 186, 43);
        top: 0;
        left: 0vw;
    }
    25%{
        background-color: rosybrown;
        top: 0;
        left: 45vw;
    }
    50%{
        top: 30vh;
        left: 45vw;

    }
    75%{
        top: 30vh;
        left: 0vw;
    }
    100%{
        background-color: aqua;
        top:0;
        left: 0vw;
    }
}