h1{
    width: 50vw;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 2px;
    border: solid 1px red;

}
/*p{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto 30px;
    width: 20vw;
    border: solid 1px red;
    border-top: dotted 2px green;
    color: rgba(255, 0, 0, 0.986);
}*/
strong{
    display: inline;
}
article p:nth-child(3){
    width: 50vw;
    color: red;
    box-sizing: border-box;
    
}
